<!-- Hero Section Start -->
<section class="hero-main-section">
    <ul class="hero-list-contact">
        <li>
            Email: <a href="mailto:info@pietjacobsendesign.nl">info@pietjacobsendesign.nl</a>
        </li>
        <li>
            Bel ons: <a href="tel:+31657024910">+31 6 57024910</a>
        </li>
    </ul>
    <div class="hero-section fix hero-1 bg-cover"
        style="background-image: url('../assets/img/hero/craftGfYA6q5ESLI-unsplash.jpg');">
        <div class="hero-arrow-shape">
            <img src="../assets/img/hero/hero-arrow-shape.png" alt="img">
        </div>
        <span class="hero-text">
            CONSTRUCTION
        </span>
        <div class="row g-4 align-items-center justify-content-between">
            <div class="col-lg-6">
                <div class="hero-content">
                    <h1 class="wow fadeInUp" data-wow-delay=".3s">
                        <span>PIET JACOBSEN</span> DESIGN
                    </h1>
                    <a href="/about" class="theme-btn wow fadeInUp" data-wow-delay=".5s">LEARN MORE <i
                            class="far fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="hero-image wow img-custom-anim-right" data-wow-duration="1.3s" data-wow-delay="0.3s">
                    <img src="../assets/img/hero/IMG_3165.png" alt="img">
                </div>
            </div>
        </div>
        <div class="section-animation-shape1-1 animation-infinite-test line-shape animation-infinite"
            style="background-image: url('../assets/img/hero/line-shape-2.png');"></div>
        <div class="section-animation-shape1-1 animation-infinite-test line-2 animation-infinite"
            style="background-image: url('../assets/img/hero/top-line.png');"></div>
    </div>
</section>

<section class="project-section-1 section-padding fix">
    <div class="container">
        <div class="row g-4">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="project-image-item style-theme-color">
                    <div class="project-image">
                        {{ image_houtbewerking }}
                        <img src="{{ url }}" alt="{{ alt }}">
                        {{ /image_houtbewerking }}
                        <div class="project-content">
                            <ul class="list">
                                <li>
                                    <a href="/houtbewerking">Hout</a>
                                </li>
                            </ul>
                            <div class="content">
                                <h5>
                                    <a href="/houtbewerking">Houtbewerking</a>
                                </h5>
                                <div class="icon">
                                    <a href="/houtbewerking"><i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="project-image-item style-theme-color">
                    <div class="project-image">
                        {{ image_zinkwerk }}
                        <img src="{{ url }}" alt="img">
                        {{ /image_zinkwerk }}
                        <div class="project-content">
                            <ul class="list">
                                <li>
                                    <a href="/zinkwerk">dakgoot</a>
                                </li>
                                <li>
                                    <a href="/zinkwerk">Zinken deklijst</a>
                                </li>
                            </ul>
                            <div class="content">
                                <h5>
                                    <a href="/zinkwerk">Zinkwerk</a>
                                </h5>
                                <div class="icon">
                                    <a href="/zinkwerk"><i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section Start -->
<section class="about-section fix section-padding">
    <div class="container">
        <div class="about-wrapper">
            <div class="section-title">
                <span class="mb-0 wow fadeInUp">Wie zijn wij.</span>
                <h2 class="wow fadeInUp" data-wow-delay=".3s">We specializeren in<br>Houtbewerking en zinkwerk</h2>
            </div>
            <div class="row g-4 align-items-center">
                <div class="col-lg-6">
                    <div class="about-image wow fadeInUp" data-wow-delay=".3s">
                        <img src="../assets/img/about/about-01.jpg" alt="img">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <p class="wow fadeInUp" data-wow-delay=".3s">
                            After more than twenty years of success in the wood products industry, the Bilder family
                            founded its capital venture in 2009 investing in real estate in the western United States.
                        </p>
                        <div class="about-box-wrap wow fadeInUp" data-wow-delay=".5s">
                            <div class="about-box-items">
                                <p>
                                    We have multiple models of engagement: We can work directly with individuals for
                                    private residences, partner.
                                </p>
                                <div class="client-info">
                                    <div class="client-img">
                                        <img src="assets/img/about/about-client.png" alt="img">
                                    </div>
                                    <div class="content">
                                        <h6>John Smith</h6>
                                        <span>CEO & Founder</span>
                                    </div>
                                </div>
                            </div>
                            <div class="medal-content">
                                <img src="assets/img/about/medal.png" alt="img">
                                <h5>Wij staan garant voor kwaliteit<br> en vakmanschap</h5>
                            </div>
                        </div>
                        <ul class="about-list wow fadeInUp" data-wow-delay=".3s">
                            <li>
                                <i class="fas fa-check-circle"></i>
                                I
                            </li>
                            <li>
                                <i class="fas fa-check-circle"></i>
                                Regularly Maintaining and Organizing your Tools
                            </li>
                            <li>
                                <i class="fas fa-check-circle"></i>
                                Regularly Maintaining and Organizing your Tools
                            </li>
                        </ul>
                        <div class="about-btn wow fadeInUp" data-wow-delay=".5s">
                            <a href="#over-ons" class="theme-btn">Over ons <i class="far fa-arrow-right"></i></a>
                            <div class="icon-items">
                                <div class="icon">
                                    <i class="flaticon-phone-1"></i>
                                </div>
                                <div class="content">
                                    <span>Neem contact op</span>
                                    <h4><a href="te:+00479394888">+31 (47) 939 4888</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service Section Start -->
<section class="service-section-2 section-padding section-bg fix">
    <div class="left-shape">
        <img src="assets/img/service/left-shape.png" alt="img">
    </div>
    <div class="right-shape">
        <img src="assets/img/service/circle-shape.png" alt="img">
    </div>
    <div class="dot-shape">
        <img src="assets/img/service/dot-shape.png" alt="">
    </div>
    <div class="section-animation-shape1-1 animation-infinite-test line-shape animation-infinite"
        style="background-image: url('assets/img/service/line-shape.png');"></div>
    <div class="container">
        <div class="section-title text-center">
            <span class="wow fadeInUp">OUR SERVICES</span>
            <h2 class="wow fadeInUp" data-wow-delay=".3s">We Provide Professional <br> Construction Service to <br> Our
                Clients</h2>
        </div>
       <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                <div class="service-card-items">
                    <div class="service-image">
                        <img src="../assets/images/piet-foto/IMG_3154.jpg"" alt="img">
                    </div>
                    <div class="service-content">
                        <div class="icon">
                            <i class="flaticon-hard-hat"></i>
                        </div>
                        <h4>
                            <a href="/zinkwerk">Dakgoten</a>
                        </h4>
                        <p>
                            Wij plaatsen dakgoten vakkundig en zorgen voor een perfecte afvoer van regenwater.
                            Met oog voor detail en duurzaamheid leveren we maatwerk dat past bij elke woning.
                        </p>
                        <a href="/zinkwerk" class="link-btn">Meer info <i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                <div class="service-card-items">
                    <div class="service-image">
                        <img src="../assets/images/zink/1f65151a-4ed2-4862-9c6e-5314da1101f2.jpg" alt="img">
                    </div>
                    <div class="service-content">
                        <div class="icon">
                            <i class="flaticon-blueprint"></i>
                        </div>
                        <h4>
                            <a href="/zinkwerk">zinken gevelbekleding en dakkapellen</a>
                        </h4>
                        <p>
                            Zinken gevelbekleding en dakkapellen geven uw woning een moderne, stijlvolle uitstraling.
                            Wij combineren vakmanschap met hoogwaardige materialen voor een duurzaam en onderhoudsarm
                            resultaat.
                        </p>
                        <a href="/zinkwerk" class="link-btn">Meer info <i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                <div class="service-card-items">
                    <div class="service-image">
                        <img src="../assets/images/hout/f62dd21b-de37-427c-8eb0-e82e3e8a02d0.jpg" alt="img">
                    </div>
                    <div class="service-content">
                        <div class="icon">
                            <i class="flaticon-home-renovation"></i>
                        </div>
                        <h4>
                            <a href="/houtbewerking">Houtwerk op maat</a>
                        </h4>
                        <p>
                            Wij maken houtwerk op maat, van uniek houten speelgoed tot robuuste tafels.
                            Elk stuk wordt met zorg en vakmanschap vervaardigd voor een authentiek eindresultaat.
                        </p>
                        <a href="/houtbewerking" class="link-btn">Meer info <i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Choose Us Section Start -->
<section class="choose-us-section section-padding bg-cover" style="background-image: url(assets/img/choose-us/bg.jpg);">
    <div class="section-animation-shape1-1 animation-infinite-test line-shape animation-infinite"
        style="background-image: url('assets/img/choose-us/line-shape.png');"></div>
    <div class="circle-shape">
        <img src="assets/img/choose-us/circle.png" alt="img">
    </div>
    <div class="container">
        <div class="choose-us-wrapper" id="over-ons">
            <div class="section-title-area">
                <div class="section-title">
                    <span class="wow fadeInUp">WHY CHOOSE US</span>
                    <h2 class="text-white wow fadeInUp" data-wow-delay=".3s">
                        Why Choose Konstruc
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".5s">
                        We improve the supply chain management process, increase operational efficiencies and build
                        environments that foster creativity. Our commitment to sustainable construction helps improve
                        the communities in which we build.
                    </p>
                </div>
                <a href="/contact" class="theme-btn wow fadeInUp" data-wow-delay=".5s">Neem contact op <i class="far fa-arrow-right"></i></a>
            </div>
            <div class="row g-4 align-items-center">
                <div class="col-xl-6">
                    <div class="choose-us-image wow img-custom-anim-left" data-wow-duration="1.3s"
                        data-wow-delay="0.3s">
                        <img src="assets/img/choose-us/choose-us-1.jpg" alt="img">
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="choose-us-content">
                        <div class="choose-us-wrap">
                            <div class="choose-us-item wow fadeInUp" data-wow-delay=".3s">
                                <div class="choose-us-icon">
                                    <div class="icon">
                                        <i class="flaticon-web-security"></i>
                                    </div>
                                    <div class="text">
                                        <h2>01</h2>
                                    </div>
                                </div>
                                <div class="content">
                                    <h5>100% &amp; maatwerk</h5>
                                    <p>
                                        Alles wordt afgestemd op jouw wensen.
                                    </p>
                                </div>
                            </div>
                            <div class="choose-us-item wow fadeInUp" data-wow-delay=".5s">
                                <div class="choose-us-icon">
                                    <div class="icon">
                                        <i class="flaticon-web-security"></i>
                                    </div>
                                    <div class="text">
                                        <h2>02</h2>
                                    </div>
                                </div>
                                <div class="content">
                                    <h5>Duurzame &amp; materialen</h5>
                                    <p>
                                        Kwaliteit die lang meegaat.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="choose-us-wrap mb-0">
                            <div class="choose-us-item wow fadeInUp" data-wow-delay=".3s">
                                <div class="choose-us-icon">
                                    <div class="icon">
                                        <i class="flaticon-suitcase"></i>
                                    </div>
                                    <div class="text">
                                        <h2>03</h2>
                                    </div>
                                </div>
                                <div class="content">
                                    <h5>Echt vakmanschap</h5>
                                    <p>
                                        Jarenlange ervaring in hout- en zinkwerk.
                                    </p>
                                </div>
                            </div>
                            <div class="choose-us-item wow fadeInUp" data-wow-delay=".5s">
                                <div class="choose-us-icon">
                                    <div class="icon">
                                        <i class="flaticon-gloves"></i>
                                    </div>
                                    <div class="text">
                                        <h2>04</h2>
                                    </div>
                                </div>
                                <div class="content">
                                    <h5>Persoonlijke aanpak</h5>
                                    <p>
                                        Direct contact en heldere communicatie.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Project Section Start -->
<!-- <section class="project-section fix section-padding">
            <div class="container">
                <div class="section-title text-center">
                    <span class="wow fadeInUp">OUR LATEST PROJECTS</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".3s">
                        We Have the Better <br> Solutions in The Last Year
                    </h2>
                </div>
                <div class="project-wrapper">
                  <div class="swiper project-slider">
                     <div class="swiper-wrapper">
                           <div class="swiper-slide">
                              <div class="project-image-items">
                                 <img src="assets/img/project/project-01.jpg" alt="img">
                                 <div class="content">
                                       <a href="project-details.html" class="post-cat">Architecture</a>
                                       <h4><a href="project-details.html">Magdalen Catholic School</a></h4>
                                       <a href="project-details.html" class="arrow-icon"><i class="far fa-arrow-right"></i></a>
                                 </div>
                              </div>
                           </div>
                           <div class="swiper-slide">
                              <div class="project-image-items">
                                 <img src="assets/img/project/project-02.jpg" alt="img">
                                 <div class="content">
                                       <div class="post-cat-item">
                                          <a href="project-details.html" class="post-cat">Building</a>
                                          <a href="project-details.html" class="post-cat">Construction</a>
                                       </div>
                                       <h4><a href="project-details.html">Social housing in valleca</a></h4>
                                       <a href="project-details.html" class="arrow-icon"><i class="far fa-arrow-right"></i></a>
                                 </div>
                              </div>
                           </div>
                           <div class="swiper-slide">
                              <div class="project-image-items">
                                 <img src="assets/img/project/project-03.jpg" alt="img">
                                 <div class="content">
                                       <a href="project-details.html" class="post-cat">Architecture</a>
                                       <h4><a href="project-details.html">Green House Neighbourhood</a></h4>
                                       <a href="project-details.html" class="arrow-icon"><i class="far fa-arrow-right"></i></a>
                                 </div>
                              </div>
                           </div>
                     </div>
                  </div>
               </div>
               <div class="section-title-area mt-5">
                  <div class="swiper-dot3">
                     <div class="dot"></div>
                  </div>
                  <a href="project-details.html.html" class="theme-btn">SCHEDULE A CONSULTATION <i class="far fa-arrow-right"></i></a>
              </div>
            </div>
        </section> -->

<!-- Service Section Start -->
<section class="service-section section-padding section-bg fix">
    <div class="right-shape">
        <img src="assets/img/service/right-shape.png" alt="img">
    </div>
    <div class="container">
        <div class="section-title">
            <span class="wow fadeInUp">OUR EXPERTISE AREA</span>
            <h2 class="wow fadeInUp" data-wow-delay=".3s">
                What We Build for Customer
            </h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                <div class="service-card-items-2">
                    <div class="service-icon">
                        <div class="icon">
                            <img src="assets/img/icon/icon-1.svg" alt="img">
                        </div>
                        <div class="text">
                            <h2>01</h2>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3>
                            <a href="service-details.html">Commercial</a>
                        </h3>
                        <p>
                            After more than twenty years of success in the wood products industry, the Bilder family
                            founded its capital venture.
                        </p>
                        <a href="service-details.html" class="link-btn">READ MORE <i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                <div class="service-card-items-2">
                    <div class="service-icon">
                        <div class="icon">
                            <img src="assets/img/icon/icon-2.svg" alt="img">
                        </div>
                        <div class="text">
                            <h2>02</h2>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3>
                            <a href="service-details.html">Industrial</a>
                        </h3>
                        <p>
                            After more than twenty years of success in the wood products industry, the Bilder family
                            founded its capital venture.
                        </p>
                        <a href="service-details.html" class="link-btn">READ MORE <i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                <div class="service-card-items-2">
                    <div class="service-icon">
                        <div class="icon">
                            <img src="assets/img/icon/icon-3.svg" alt="img">
                        </div>
                        <div class="text">
                            <h2>03</h2>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3>
                            <a href="service-details.html">International</a>
                        </h3>
                        <p>
                            After more than twenty years of success in the wood products industry, the Bilder family
                            founded its capital venture.
                        </p>
                        <a href="service-details.html" class="link-btn">READ MORE <i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- review Section Start -->
<section class="contact-section-3 fix section-padding bg-cover"
    style="background-image: url('assets/img/contact/contact-shape.jpg');">
    <div class="container">
        <div class="contact-wrapper-3">
            <div class="row g-4">
                <div class="col-lg-6">
                    <div class="man-image">
                        <img src="/assets/images/piet-foto/483282375_1316810962983861_2540929853235077455_n.jpg"
                            alt="img" class="img-custom-anim-left">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-form-items">
                        <div class="section-title">
                            <span class="wow fadeInUp">GET IN TOUCH</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".3s">LAAT JE MENING ACHTER.</h2>
                        </div>
                        {{ form:reviews }}
                        {{ if {form:success in="reviews"} }}
                        <div class="text-white">
                            Bedankt voor het invullen!
                        </div>
                        {{ else }}
                        <div id="contact-form" class="contact-form">
                            {{ fields }}

                            {{ if handle == "starcount"}}
                            <label for="starcount" class="text-white">Hoeveel sterren geef jij ons?</label>
                            <select id="starcount" class="bg-white" name="starcount" onchange="showStars()">
                                <option value="">- Selecteer -</option>
                                <option value="1" {{ if old:starcount=="1" }}selected{{ /if }}>1</option>
                                <option value="2" {{ if old:starcount=="2" }}selected{{ /if }}>2</option>
                                <option value="3" {{ if old:starcount=="3" }}selected{{ /if }}>3</option>
                                <option value="4" {{ if old:starcount=="4" }}selected{{ /if }}>4</option>
                                <option value="5" {{ if old:starcount=="5" }}selected{{ /if }}>5</option>
                            </select>

                            {{ /if }}
                            {{ if type == "text"}}
                            <div class="p-2">
                                <label class="text-white">{{ display }}</label>
                                <div
                                    class="contact-wrapper-3 contact-form form-clt input contact-wrapper-3 contact-form form-clt textarea">
                                    {{ field }}</div>
                                {{ if error }}
                                <p class="text-gray-500">{{ error }}</p>
                                {{ /if }}
                            </div>
                            {{ /if }}

                            {{ if handle == "bericht"}}
                            <div class="col-lg-12 wow fadeInUp" data-wow-delay=".3s">
                                <div class="form-clt">
                                    <label class="text-white">{{ display }}</label>
                                    <div name="message" id="message" placeholder="Write a message...">
                                        {{ field }}
                                    </div>
                                </div>
                            </div>
                            {{ /if }}
                            {{ /fields }}
                            <div class="col-lg-12 wow fadeInUp" data-wow-delay=".5s">
                                <button type="submit" class="theme-btn bg-header">
                                    VERSTUUR <i class="far fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                        {{ /if }}
                        {{ /form:reviews }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>



<!-- Testimonial Section Start -->
<section class="testimonial-section fix section-padding bg-cover"
    style="background-image: url('assets/img/testimonial/testi-bg.jpg');">
    <div class="line-shape">
        <img src="assets/img/testimonial/line-shape.png" alt="img">
    </div>
    <div class="circle-shape">
        <img src="assets/img/testimonial/circle-shape.png" alt="img">
    </div>
    <div class="dot-shape">
        <img src="assets/img/testimonial/dot-shape.png" alt="img">
    </div>
    <div class="array-buttons">
        <button class="array-prev"><i class="fas fa-arrow-left"></i></button>
        <button class="array-next"><i class="fas fa-arrow-right"></i></button>
    </div>
    <div class="container">

        <div class="section-title text-center">
            <span class="wow fadeInUp">Onze reviews</span>
            <h2 class="text-white wow fadeInUp" data-wow-delay=".3s">
                LAAT GERUST <br> EEN REVIEW ACHTER!
            </h2>
        </div>

        <div class="swiper testimonial-slider">
            <div class="swiper-wrapper">
                {{ form:submissions in="reviews" }}
                <div class="swiper-slide">
                    <div class="testimonial-box-items">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"
                                fill="none">
                                <path
                                    d="M31.7812 16.5938H23.3438V13.7812C23.3438 9.90422 26.498 6.75 30.375 6.75H34.5938C35.3704 6.75 36 6.12042 36 5.34375C36 4.56708 35.3704 3.9375 34.5938 3.9375H30.375C24.9472 3.9375 20.5312 8.35341 20.5312 13.7812V27.8438C20.5312 30.17 22.4238 32.0625 24.75 32.0625H31.7812C34.1075 32.0625 36 30.17 36 27.8438V20.8125C36 18.4863 34.1075 16.5938 31.7812 16.5938ZM33.1875 27.8438C33.1875 28.6192 32.5567 29.25 31.7812 29.25H24.75C23.9746 29.25 23.3438 28.6192 23.3438 27.8438V19.4062H31.7812C32.5567 19.4062 33.1875 20.0371 33.1875 20.8125V27.8438Z"
                                    fill="white" />
                                <path
                                    d="M9.84375 6.75H14.0625C14.8392 6.75 15.4688 6.12042 15.4688 5.34375C15.4688 4.56708 14.8392 3.9375 14.0625 3.9375H9.84375C4.41591 3.9375 0 8.35341 0 13.7812V27.8438C0 30.17 1.89253 32.0625 4.21875 32.0625H11.25C13.5762 32.0625 15.4688 30.17 15.4688 27.8438V20.8125C15.4688 18.4863 13.5762 16.5938 11.25 16.5938H2.8125V13.7812C2.8125 9.90422 5.96672 6.75 9.84375 6.75ZM12.6562 20.8125V27.8438C12.6562 28.6192 12.0254 29.25 11.25 29.25H4.21875C3.44334 29.25 2.8125 28.6192 2.8125 27.8438V19.4062H11.25C12.0254 19.4062 12.6562 20.0371 12.6562 20.8125Z"
                                    fill="white" />
                            </svg>
                        </div>
                        {{ loop from="1" to="{starcount}" }}
                        <i class="fas fa-star" style="color: #FF792D;"></i>
                        {{ /loop }}
                        <h4>{{ subjext }}</h4>
                        <p>
                            {{ bericht }}
                        </p>
                        <div class="client-info">
                            <h5>{{ naam }}</h5>
                            <div class="client-img z-0">
                                <img src="assets/img/icon/user.svg" class="z-1"
                                    style="opacity: 1; width: 50px !important;" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                {{ /form:submissions }}
            </div>
        </div>
    </div>
</section>

<script>
    function showStars() {
        const count = parseInt(document.getElementById("starcount").value, 10);
        const starContainer = document.getElementById("stars");

        if (isNaN(count) || count < 1 || count > 5) {
            starContainer.innerHTML = "";
            return;
        }

        let starsHtml = "";
        for (let i = 0; i < count; i++) {
            starsHtml += '<i class="fas fa-star"></i>';
        }

        starContainer.innerHTML = starsHtml;
    }


    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector('form'); // Adjust if your form uses a specific ID or class
        const badWords = ["sex", "penis", "kut", "kanker", "harmenshaarlijn"]; // Add words to this list

        if (form) {
            form.addEventListener("submit", function (e) {
                const inputs = form.querySelectorAll("textarea, input[type='text']");
                let containsSwear = false;
                let foundWords = [];

                inputs.forEach(input => {
                    const value = input.value.toLowerCase();
                    badWords.forEach(word => {
                        if (value.includes(word)) {
                            containsSwear = true;
                            foundWords.push(word);
                        }
                    });
                });

                if (containsSwear) {
                    e.preventDefault();
                    alert("Vul alstublieft geen ongepaste woorden in. Gevonden: " + [...new Set(foundWords)].join(", "));
                }
            });
        }
    });
</script>

<!-- Video Section Start -->
<div class="vedio-bg-section fix bg-cover mt-5" style="background-image: url(/assets/images/IMG_3138.jpg);">
    <div class="vedio-wrapper">
        <div class="watch-text">
        </div>
    </div>
</div>