    <!-- Breadcrumb-section Start -->
        <section class="breadcrumb-section fix bg-cover" style="background-image: url(assets/img/breadcrumb.jpg);">
            <div class="container">
                <div class="row">
                    <div class="page-heading">
                        <ul class="breadcrumb-list wow fadeInUp" data-wow-delay=".3s">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                404 pagina
                            </li>
                        </ul>
                        <h2 class="wow fadeInUp" data-wow-delay=".5s">404 pagina</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="error-section section-padding fix">
            <div class="container">
                <div class="error-wrapper">
                    <div class="row g-4 align-items-center">
                        <div class="col-lg-6">
                           <div class="error-items">
                            <div class="error-image">
                                <img src="assets/images/hout/489844526_18398984392101320_6254063315107211979_n.jpg" alt="img">
                            </div>
                           </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="error-content">
                                <div class="section-title">
                                    <span>404 ERROR</span>
                                    <h2>Page Not Found</h2>
                                    <p class="mt-3 mt-mb-0">
                                        Oeps! Deze pagina bestaat niet (meer).
                                        Het lijkt erop dat je een verkeerde afslag hebt genomen.
                                        Geen zorgen, we helpen je graag terug op weg.
                                    </p>
                                 </div>
                                 <a href="/" class="theme-btn mt-4">TERUG NAAR HOME <i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            <!-- Cta Wrapper Section Start -->
            <div class="cta-section style-5 remove-blue-none style-new-padding fix mb-0">
                <div class="container">
                    <div class="cta-wrapper">
                        <div class="cta-shape">
                            <img src="\assets\images\piet-foto\IMG_3139.jpg" alt="img">
                        </div>
                        <div class="cta-shape-2">
                            <img src="assets/img/cta/cta-shape-2.png" alt="img">
                        </div>
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="cta-content">
                                    <div class="section-title mb-0">
                                        <span class="text-white-style wow fadeInUp"></span>
                                        <h2 class="text-white wow fadeInUp" data-wow-delay=".3s">NEEM CONTACT OP</h2>
                                    </div>
                                    <p class="wow fadeInUp" data-wow-delay=".5s">
                                        Vragen? We helpen je graag!
                                        Neem contact met ons op via e-mail, telefoon of whatsapp!
                                    </p>
                                    <a href="/contact" class="theme-btn bg-header wow fadeInUp" data-wow-delay=".3s bg-header"> NEEM CONTACT OP <i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="cta-image wow img-custom-anim-right" data-wow-duration="1.3s" data-wow-delay="0.3s">
                                    <img src="/assets/images/IMG_3165.png" class="w-50" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>