        <!-- Offcanvas Area Start -->
        <div class="fix-area">
            <div class="offcanvas__info">
                <div class="offcanvas__wrapper">
                    <div class="offcanvas__content">
                        <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                            <div class="offcanvas__logo">
                                <a href="/" class="h-25 w-25">
                                    <img src="../assets/img/logo/PJDlogo.png" alt="logo-img">
                                </a>
                            </div>
                            <div class="offcanvas__close">
                                <button>
                                <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <h3 class="offcanvas-title">Hello There!</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, </p>
                        <div class="mobile-menu fix mt-3"></div>
                        <div class="social-icon d-flex align-items-center">
                            <a href="https://www.instagram.com/pietjacobsen/"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="offcanvas-gallery-area d-none d-lg-block">
                            <div class="offcanvas-gallery-items">
                                <a href="assets/img/header/01.jpg" class="offcanvas-image img-popup">
                                <img src="assets/img/header/01.jpg" alt="gallery-img">
                                </a>
                                <a href="assets/img/header/02.jpg" class="offcanvas-image img-popup">
                                <img src="assets/img/header/02.jpg" alt="gallery-img">
                                </a>
                                <a href="assets/img/header/03.jpg" class="offcanvas-image img-popup">
                                <img src="assets/img/header/03.jpg" alt="gallery-img">
                                </a>
                            </div>
                            <div class="offcanvas-gallery-items">
                                <a href="assets/img/header/04.jpg" class="offcanvas-image img-popup">
                                <img src="assets/img/header/04.jpg" alt="gallery-img">
                                </a>
                                <a href="assets/img/header/05.jpg" class="offcanvas-image img-popup">
                                <img src="assets/img/header/05.jpg" alt="gallery-img">
                                </a>
                                <a href="assets/img/header/06.jpg" class="offcanvas-image img-popup">
                                <img src="assets/img/header/06.jpg" alt="gallery-img">
                                </a>
                            </div>
                        </div>
                        <div class="offcanvas__contact">
                            <h3>Information</h3>
                            <ul class="contact-list">
                                <li>
                                    <span>
                                        Address:
                                    </span>
                                    Graaf Floriss 22A CH NY
                                </li>
                                <li>
                                    <span>
                                        Call Us:
                                    </span>
                                    <a href="tel:+00012345688">+000 123 456 88</a>
                                </li>
                                <li>
                                    <span>
                                        Email:
                                    </span>
                                    <a href="mailto:supportedus@gmail.com">supportedus@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <a href="contact.html" class="theme-btn"> GET A QUOTE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas__overlay"></div>

        <!-- Header Section Start -->
        <header id="header-sticky" class="header-section header-1">
            <div class="container-fluid">
                <div class="mega-menu-wrapper">
                    <div class="header-main">
                        <div class="header-left">
                            <a href="/" class="header-logo">
                                <img src="../assets/img/logo/PJDlogo2.png" alt="logo-img" class="w-25 h-25">
                            </a>
                            <div class="social-icon d-flex align-items-center">
                                <a href="https://www.instagram.com/pietjacobsen/" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="header-right d-flex justify-content-end align-items-center">
                            <div class="mean__menu-wrapper">
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                        <ul>
                                                {{ nav:main_nav }}
                                                    <li><a href="{{ url }}">{{ title }}</a></li>
                                                {{ /nav:main_nav }}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- <div class="header-search">
                                <button class="d-flex align-items-center search-toggle"><i class="far fa-search"></i></button>
                            </div> -->
                            <div class="header-button d-flex align-items-center">
                                <a href="/contact" class="theme-btn">Contact</a>
                                <div class="header__hamburger d-xl-block my-auto">
                                    <div class="sidebar__toggle">
                                        <img src="assets/img/logo/bar.svg" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- header Search Section Start -->
        <!-- <div class="header-search-bar d-flex align-items-center">
            <button class="search-close">×</button>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="search-bar">
                            <div class="contact-form-box contact-search-form-box">
                                <form action="#">
                                    <input type="email" placeholder="Search here...">
                                    <button type="submit"><i class="far fa-search"></i></button>
                                </form>
                                <p>Type above and press Enter to search. Press Close to cancel.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->