//>>>>> Component Button Here <<<<<//
.theme-btn {
    background: $theme-color;
    color: $white;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 35px;
    padding-right: 5px;
    border-radius: 0;
    line-height: 1;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;

    i {
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        background-color: $white;
        color: $theme-color;
        margin-left: 35px;
        @include transition;
    }

    &::before {
        content: "";
        background-color: $header-color;
        width: 0;
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        z-index: -1;
    }

    &::after {
        content: "";
        background-color: $header-color;
        width: 0;
        height: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        z-index: -1;
    }

    &:hover {
        &::before,&::after {
            width: 100%;
        }

        i {
            background-color: $theme-color;
            color: $white;
        }
    }

    &.bg-header {
        background-color: $header-color;

        &::before,&::after {
            background-color: $white;
        }

        i {
            background-color: $theme-color;
            color: $white;
        }

        &:hover {
            color: $header-color;
        }
    }

    &.theme-btn-2 {
        background: $theme-color-2;

        i {
            color: $theme-color-2;
        }

        &:hover {
            &::before,&::after {
                width: 100%;
            }
    
            i {
                background: $theme-color-2;
                color: $white
            }
        }
    }
  }

.link-btn {
    font-size: 16px;
    font-weight: 600;
    color: $theme-color;
    text-transform: uppercase;
}
//>>>>> Component Button End <<<<<//