.pricing-box-items {
    margin-top: 30px;
    border: 1px solid rgba(30, 32, 35, 0.12);
    background: $white;
    padding: 50px 40px;

    @include breakpoint (max-xxl){
        padding: 40px 30px;
    }

    @include breakpoint (max-xl){
        padding: 30px 20px;
    }

    @include breakpoint (max-sm){
        padding: 30px 20px;
    }

    .pricing-header {

        h4 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        h2 {
            color: $theme-color;
            font-weight: 800;
            font-size: 56px;
            line-height: 1;
            margin-top: 30px;

            sup {
                font-size: 22px;
                font-weight: 700;
                line-height: 1;
                top: -1.5em;
                margin-right: -10px;
            }

            sub {
                font-weight: 400;
                font-size: 15px;
                color: $text-color;
                font-weight: $body-font;
                margin-left: -10px;
            }
        }
    }

    .pricing-btn {
        margin-top: 40px;
        margin-bottom: 40px;

        .theme-btn {
            background-color: transparent;
            border: 1px solid $theme-color;
            color: $header-color;
            width: 100%;
            padding-right: 5px;
            @include flex;
            justify-content: space-between;

            i {
                background-color: $theme-color;
                color: $white;
            }

            &::before,&::after {
                background-color: $theme-color;
            }

            &:hover {
                color: $white;

                i {
                    background-color: $white;
                    color: $theme-color;
                }
            }
        }
    }

    h5 {
        font-size: 16px;
        font-weight: 600;
    }

    .pricing-list {
        margin-top: 30px;

        li {
            color: rgba(30, 32, 35, 0.80);

            i {
                color: $theme-color;
                margin-right: 10px;
            }

            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
    }

    &.active {
        border: 2px solid #1E2023;
        box-shadow: 10px 16px 120px 1px rgba(4, 7, 56, 0.12);
        position: relative;

        .professional {
            background: #FF792D;
            color: $white;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            line-height: 1;
            display: inline-block;
            padding: 9px 20px;
            position: absolute;
            right: 47px;
            top: -18px;
            z-index: 9;
        }
    }
}