.project-section {
    position: relative;
    margin-bottom: 40px;

    @include breakpoint (max-xl){
        margin-bottom: -35px;
    }

    @include breakpoint (max-lg){
        margin-bottom: 20px;
    }

    &::before {
        position: absolute;
        content: "";
        bottom: 100px;
        left: 0;
        width: 614px;
        height: 380px;
        background: #FFF3ED;

        @include breakpoint (max-xl){
           display: none;
        }
    }
}

.project-wrapper {
    margin-right: -50%;

    @include breakpoint (max-md){
        margin-right: 0;
    }

    .project-image-items {
        margin-top: 30px;
        position: relative;
        z-index: 9;

        img {
            @include imgw;
        }

        &::before {
            @include before;
            background: linear-gradient(180deg, rgba(30, 32, 35, 0.00) 0%, rgba(30, 32, 35, 0.69) 100%);
        }

        .content {
            position: absolute;
            bottom: 35px;
            right: 40px;
            left: 40px;
            z-index: 9;

            .post-cat {
                display: inline-block;
                padding: 12px 16px;
                border: 1px solid $white;
                font-size: 14px;
                font-weight: 600;
                color: $white;
                line-height: 1;
                margin-bottom: 20px;

                &:hover {
                    background-color: $theme-color;
                    border: 1px solid $theme-color;
                }
            }

            h4  {
                border-bottom: 1px solid rgba(255, 255, 255, 0.40);
                padding-bottom: 20px;

                a {
                    color: $white;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            .post-cat-item {
                @include flex;
                gap: 20px;
            }

            .arrow-icon {
                color: $white;
                position: absolute;
                right: 0;
                bottom: 25px;
                font-size: 18px;
                transform: rotate(-45deg);

                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}

.project-card-item {
    &:not(:last-child) {
        margin-bottom: 30px;
    }

    .project-image {

        img {
            @include imgw;
            @include transition;
            clip-path: polygon(0 0, 91% 0, 100% 16%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 30%);
        }
    }

    .project-content {
        margin-top: 30px;
        position: relative;

        .post-cat-item {
            @include flex;
            gap: 20px;
        }

        .post-cat {
            display: inline-block;
            padding: 12px 16px;
            border: 1px solid rgba(255, 121, 45, 0.22);
            font-size: 14px;
            font-weight: 600;
            color: $theme-color;
            line-height: 1;
            margin-bottom: 20px;

            &:hover {
                background-color: $theme-color;
                border: 1px solid $theme-color;
                color: $white;
            }
        }

        h5 {
            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }

        .icon {
            font-size: 30px;
            position: absolute;
            top: 40px;
            right: 0;

            i {
                transform: rotate(-45deg);
                color: $theme-color;
            }
        }
    }
}

.project-section-2 {
    position: relative;

    .bottom-shape {
        position: absolute;
        left: 0;
        bottom: 0;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .section-title {
        .theme-btn {
            @include breakpoint (max-md){
                margin-bottom: 20px !important;
            }

            @include breakpoint (max-sm){
                margin-top: 20px !important;
            }
        }
    }
}

.project-card-item-3 {

    .project-thumb {
        position: relative;

        img {
            @include imgw;
        }
    }

    .project-content {
        @include flex;
        justify-content: space-between;
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 30px;
        padding: 40px;
        background-color: $white;

        .icon {
            i {
                color: $theme-color;
            }
        }
    }
}

.project-wrapper-3 {
    margin-left: -360px;
    margin-right: -360px;

    @include breakpoint (max-xl){
        margin-left: 0;
        margin-right: 0;
    }

    .project-card-item-3 {
        margin-top: 30px;

        .project-thumb {
            position: relative;
    
            img {
                @include imgw;
            }
        }
    
        .project-content {
            @include flex;
            justify-content: space-between;
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: 30px;
            padding: 40px;
            background-color: $white;
    
            .left-content {
    
                .project-btn {
                    @include flex;
                    gap: 20px;
                    margin-bottom: 15px;
    
                    li {
                        font-size: 14px;
                        font-weight: 500;
                        @include transition;

                        a {
                            padding: 10px 16px;
                            border: 1px solid rgba(255, 121, 45, 0.22);
                            line-height: 1;
                            color: $theme-color;
                        }
    
                        &:hover {
                           
                            a {
                                color: $white;
                                background-color: $theme-color;
                            }
                        }
                    }
                }
    
                h5 {
                    a {
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
    
            .icon {
    
                i {
                    color: $theme-color;
                    font-size: 24px;
                    transform: rotate(-45deg);
                    @include transition;
                }
    
                &:hover {
                    i {
                        transform: rotate(0);
                    }
                }
            }
        }
    }
}

.project-section-3 {
    .section-title {
        span {
            margin-bottom: 0;
        }

        h2 {
            margin-left: 251px;

            @include breakpoint (max-xl){
               margin-left: 0;
            }
        }
    }

    .content {
        p {
            max-width: 400px;
        }
    }
}

.project-section-4 {
    .container-fluid {
        padding: 0 20px;
    }
}

.project-box-item {
    margin-top: 30px;
    
    .project-image {
        position: relative;
        overflow: hidden;

        img {
            @include imgw;
        }

        &::after {
            background: hsla(0, 0%, 100%, 0.5);
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 0;
            opacity: 1;
            z-index: 9;
            pointer-events: none;
        }

        .project-content {
            padding: 30px;
            background-color: $theme-color-2;
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: -20px;
            opacity: 0;
            visibility: hidden;
            @include transition;
            z-index: 9;

            .list {
                @include flex;
                gap: 30px;
                margin-bottom: 20px;

                li {
                    a {
                        color: $white;
                        font-size: 14px;
                        font-weight: 500;
                        padding: 11px 16px;
                        border: 1px solid rgba(255, 255, 255, 0.22);
                        line-height: 1;

                        &:hover {
                           background-color: $white;
                           color: $header-color;
                        }
                    }
                }
            }

            h5 {
                a {
                    color: $white;
                }
            }
        }
    }

    &:hover {
        .project-image {
            &::after {
                height: 100%;
                opacity: 0;
                transition: all 0.6s linear;
            }

            .project-content {
                visibility: visible;
                opacity: 1;
                bottom: 30px;
            }
        }
    }
}

.project-section-5 {
    position: relative;

    .left-shape {
        position: absolute;
        left: 0;
        top: 0;
        
        @include breakpoint (max-xl){
            display: none;
        }
    }

    .right-shape {
        position: absolute;
        right: 0;
        top: -210px;

        @include breakpoint (max-xl){
            display: none;
        }
    }
}

.project-box-item-2 {
    margin-top: 30px;
    
    .project-image {
        position: relative;

        img {
            @include imgw;
        }

       &::before {
         @include before;
         background: linear-gradient(187deg, rgba(4, 2, 0, 0.00) 11.85%, rgba(4, 2, 0, 0.82) 71%);
       }

        .project-content {
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 30px;

            .list {
                margin-bottom: 20px;

                li {
                    a {
                        color: $white;
                        font-size: 14px;
                        font-weight: 500;
                        padding: 10px 16px;
                        border: 1px solid rgba(255, 255, 255, 0.22);
                        line-height: 1;
                        display: inline-block;

                        &:hover {
                            color: $white;
                            background-color: $theme-color-2;
                            border: 1px solid $theme-color-2;
                        }
                    }
                }
            }

            h5 {
                font-size: 18px;
                font-weight: 600;

                a {
                    color: $white;

                    &:hover {
                        color: $theme-color-2;
                    }
                }
            }
        }
    }
}

.project-image-item {

    .project-image {
        position: relative;

        &::before {
            @include before;
            background: linear-gradient(180deg, rgba(30, 32, 35, 0.00) 0%, rgba(30, 32, 35, 0.69) 100%);
        }

        img {
            @include imgw;
        }

        .project-content {
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 30px;

            .list {
                margin-bottom: 10px;
                @include flex;
                gap: 20px;

                li {
    
                    a {
                        color: $white;
                        font-size: 14px;
                        font-weight: 500;
                        padding: 10px 16px;
                        border: 1px solid rgba(255, 255, 255, 0.22);
                        line-height: 1;
                        display: inline-block;

                        &:hover {
                            color: $white;
                            background-color: $theme-color-2;
                        }
                    }
                }
            }

            .content {
                @include flex;
                justify-content: space-between;
                border-bottom: 1px solid rgba(255, 255, 255, 0.40);
                padding-bottom: 10px;

                h5 {
    
                    a {
                        color: $white;
    
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }

                .icon {
                    a {
                        i {
                            color: $white;
                            transform: rotate(-40deg);
                        }
                    }
                }
            }
        }
    }

    &.style-theme-color {
        .project-content {
            .list {
                li {
    
                    a {
                    
                        &:hover {
                            color: $white;
                            background-color: $theme-color;
                        }
                    }
                }
            }
        }
    }
}

.project-details-wrapper {

    .details-image {
        margin-bottom: 30px;

        img {
            @include imgw;
        }
    }

    .details-content {
        h3 {
            font-size: 38px;
            margin-bottom: 10px;

            @include breakpoint (max-md){
                font-size: 30px;
            }
        }

        h4 {
            margin-top: 50px;
            margin-bottom: 15px;

            @include breakpoint (max-md){
                margin-top: 30px;
            }
        }

        .details-sideber {
            background-color: rgba(255, 243, 237, 1);
            padding: 38px 50px;
            border-left: 4px solid $theme-color;
            margin-top: 60px;
            margin-bottom: 60px;

            @include breakpoint (max-md){
              margin-top: 30px;
              margin-bottom: 30px;
              padding: 30px;
            }

            h5 {
                font-weight: 500;

                @include breakpoint (max-md){
                    dz: 18px;
                }
            }

            .details-info-item {
                @include flex;
                justify-content: space-between;
                margin-top: 50px;

                @include breakpoint (max-md){
                    flex-wrap: wrap;
                    margin-top: 30px;
                    gap: 10px;
                }

                .info-item {
                    @include flex;
                    gap: 20px;

                    .info-content {
                        h5 {
                            font-size: 18px;
                            font-weight: 600;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

        .list-item {
            @include flex;
            justify-content: space-between;
            margin-top: 30px;

            @include breakpoint (max-xl){
               flex-wrap: wrap;
               gap: 20px;
            }

            li {
                font-weight: 500;
                color: $header-color;

              &:not(:last-child) {
                  margin-bottom: 10px;
              }

                i {
                    color: $theme-color;
                    margin: 5px;
                }
            }
        }

        .details-item {
            margin-top: 50px;

            .thumb {
                margin-top: 15px;

                img {
                    @include imgw;
                }
            }
        }
    }
}

.main-sidebar {

    .single-sideber-widget {
        margin-bottom: 40px;
    
        .project-information-box {
            padding: 45px;
            border: 1px solid rgba(30, 32, 35, 0.12);
            background: $white;
            box-shadow: 10px 16px 120px 1px rgba(4, 7, 56, 0.12);
    
            h4 {
                margin-bottom: 10px;
            }
    
            .information-list {
    
                li {
                    padding: 15px 0;
                    @include flex;
                    justify-content: space-between;
    
                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(30, 32, 35, 0.12);
                    }
    
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
    
        .contact-bg-image {
            position: relative;
            height: 553px;
    
            &::before {
                @include before;
                background: linear-gradient(180deg, rgba(30, 32, 35, 0.00) 0%, rgba(30, 32, 35, 0.87) 72.69%);
            }
    
            .contact-content {
                position: absolute;
                bottom: 40px;
                top: initial;
                left: 20px;
                right: 20px;
                text-align: center;
    
                h4 {
                    color: $white;
                    margin-bottom: 5px;
                }
    
                p {
                    color: $white;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
